@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}
/* Set Intial Style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #1B1B1B;
}
button {
    all: unset;
}
input {
    all: unset;
}
li {
    all: unset;
}
.btn {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.brand {
    text-align: center;
    margin: 20px;
    width: 100%;
    height: 50px;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 0px 10px red;
    cursor: pointer;
}
.container {
    width: 700px;
    height: 700px;
    margin: 60px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #242124;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #FF2E2E;
}
.container-task {
    width: 100%;
    display: flex;
    gap: 10px;
    height: 30px;
    margin-bottom: 15px;
}
.input-text {
    width: 600px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 7px;
    border: 1px solid #000;
    font-weight: bold;
    padding: 10px
}
.input-text::placeholder {
    font-weight: 400;
    opacity: 50%;
}
.input-task-btn {
    background-color: #050505;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 1px black;
    color: #fff;
    width: 70px;
    cursor: pointer;
}
.container-list-task {
}
.list {

}
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;

}
.list-item {

}
.task-btn-delete-complete {
    display: flex;
    gap: 10px;
}
.btn-list {
    width: 90px;
    height: 30px;
    border-radius: 10px;
}
.delete-task-btn {
    background-color: #FF2E2E;
}
.complete-task-btn {
    background-color: #32CD32;
}
.control-task {

}
.delete-all-task-btn {
    background-color: #FF0A0A;
}
.complete-all-task-btn {
    background-color: #39FF14;
}
.complete {
    text-decoration: dashed;
    color: green;
    font-weight: bold;
}