@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}
/* Set Intial Style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
}
.container {
    width: 700px;
    height: 700px;
    margin: 100px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.container-task {
    width: 100%;
    display: flex;
    gap: 10px;
    height: 30px;
    margin-bottom: 15px;
}
.input-text {
    width: 600px;
}
.input-task-btn {
    width: 70px;
}
.container-list-task {
}
.list {

}
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.list-item {

}
.task-btn-delete-complete {

}
.delete-task-btn {

}
.complete-task-btn {

}
.control-task {

}
.delete-all-task-btn {

}
.complete-all-task-btn {

}
.complete {
    text-decoration: dashed;
    color: green;
    font-weight: bold;
}